@import "../../global.scss";

.container {
  display: grid;
  text-align: center;
  flex-direction: column;
  background-color: #f3f3f3;
  grid-template-areas: "left left left content content content content content content right right right";

  .leftBlock {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    grid-area: left;
    background-color: $white;
  }
  .mainContainer {
    display: flex;
    background-color: #f3f3f3;
    padding: 46px 42px 66px 30px;
    grid-area: content;

    .rightBlock {
      display: flex;
      flex-direction: column;
      .titleContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .wrapperSpace:first-child {
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
}
