@import "../../global.scss";
.container {
  background-color: $white;
  border-radius: 20px;

  .ul {
    display: flex;
    flex-direction: row;
    li {
      list-style: none;
      width: 183px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 57px;
      color: $secondary;
      font-weight: bold;
      font-size: 14px;
      border-radius: 20px;

      span {
        color: $primary;
        padding-right: 10px;
      }
    }
    li:first-child {
      border-radius: 20px;
    }
    .current {
      background-color: $secondary;
      color: $white;
      span {
        color: $white;
      }
    }
    .past {
      background-color: $primary;
      color: $white;
      margin-right: -33px;
      span {
        color: $white;
      }
    }
  }
}
