@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", cursive, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

$primary: #63d391;
$secondary: #205266;
$tertiary: #4b8db5;
$black: #404554;
$white: #fff;
$gray: #9ea1b0;

.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}
.tertiary {
  color: $tertiary;
}
.gray {
  color: $gray;
}
.white {
  color: $white;
}
.black {
  color: $black;
}
.default {
  color: black;
}
.separetor {
  width: 80%;
  height: 1px;
  background-color: $gray;
  margin-top: 24px;
  margin-bottom: 24px;
}
